doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    nav 
      a(href="/contacts") Update this table
    table
      thead
        tr
          th Name
          th Email
          th Favorite Color
          th Nickname
          th Hair length
      tbody
        each contact in data
          tr
            td #{contact.properties.firstname} #{contact.properties.lastname}
            td #{contact.properties.email}
            td #{contact.properties.favorite_color}
            td #{contact.properties.nick_name}
            td #{contact.properties.hair_length}

